@import url('https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.2/semantic.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/pnotify/2.0.0/pnotify.all.min.css');
@import url('https://us1.lacunaexpanse.com/chiselchat/chiselchat.min.css');
/*
yellow: #FFD800
pink: pink
light blue: #52ACFF
*/

html {
  background: black url("//localhost:8080/lacuna/assets/star_system/field.png");
  color: #fff;
  overflow: hidden;
  box-sizing: content-box;
}

body {
  font-family: verdana;
  margin: 0;
  padding: 40px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: left;
  min-width: 1050px;
  /*min-height: 768px;*/
  overflow: hidden;
}

select,
input,
button,
textarea,
button {
  font-family: verdana;
}

.yui-content a:link,
.yui-content a:visited {
  text-decoration: underline;
  color: #fff;
}

,
a,
a:link,
a:visited {
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

button,
input[type="submit"],
input[type="button"],
.button {
  text-decoration: none !important;
  padding: 2px 6px 3px;
  margin: 1px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #fefefe #dedede #dedede #fefefe;
  background: #103070 url("//d16cbq0l6kkf21.cloudfront.net/assets/ui/web/bar_bottom_back.png") 0 -10px;
  color: #ffffff;
}

button:hover:active,
input[type="submit"]:hover:active,
input[type="button"]:hover:active,
.button:hover:active {
  /*background-color: #002060;*/
  background-position: 0 -30px;
  border-color: #254595 #153585 #153585 #254595;
}

button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
.button:hover {
  border-color: #254595 #3555a5 #3555a5 #254595;
  /*background-color: #183878;*/
  background-position: 0 -20px;
}

button[disabled],
input[type="submit"][disabled],
input[type="button"][disabled],
.button[disabled] {
  border-color: #3555a5 #254595 #254595 #3555a5;
  background-color: #204070;
  background-image: none;
  color: #808080;
}

.button {
  padding: 2px 6px 3px;
  text-decoration: none;
  display: inline-block;
  /*mozilla 3.0, ie 8*/
  zoom: 1;
  /*force ie layout so we can use the display:inline below*/
  *display: inline;
  /*ie hack to make it think this is an inline-block*/
}

.clearafter {
  height: 100%;
}

.clearafter:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#content {
  text-align: center;
  padding-top: 15px;
}

#nojavascript {
  text-align: center;
  color: white;
}

#header,
#footer {
  text-align: center;
  height: 55px;
  position: fixed;
  width: 100%;
  min-width: 1050px;
  background-color: #52acff;
  font-family: impact, sans-serif;
}

#header {
  top: 0;
  z-index: 1000;
  background-image: url("//d16cbq0l6kkf21.cloudfront.net/assets/ui/web/bar_top_back.png");
}

#footer {
  bottom: 0;
  z-index: 1000;
  background-image: url("//d16cbq0l6kkf21.cloudfront.net/assets/ui/web/bar_bottom_back.png");
}

.hidden {
  display: none;
}

.alert {
  color: pink;
}

/*
YUI dialog skin
*/

body {
  font: 13px/1.231 arial,helvetica,clean,sans-serif;
  *font-size: small;
  *font: x-small;
}

body.yui-skin-sam .yui-panel {
  border-width: 0;
}

body.yui-skin-sam .yui-panel .hd {
  width: 250px;
  background: url("//d16cbq0l6kkf21.cloudfront.net/assets/ui/tab.png") no-repeat scroll 0 0 transparent;
  border-width: 0;
  margin-left: 10px;
  font-size: 110%;
  color: #FFD800;
  line-height: 1.75;
}

.yui-skin-sam .yui-panel .bd,
.yui-skin-sam .yui-panel .ft {
  background-image: url("//d16cbq0l6kkf21.cloudfront.net/assets/ui/bkg.png");
}

body.yui-skin-sam .yui-panel .bd {
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  border-radius: 10px 10px 0 0;
  border-width: 2px 2px 0;
  border-style: solid;
  border-color: #000;
}

body.yui-skin-sam .yui-panel .ft {
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-radius: 0 0 10px 10px;
  border-width: 0 2px 2px;
  border-style: solid;
  border-color: #000;
}

body.yui-skin-sam .nofooter .bd {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #000;
}

body.yui-skin-sam .container-close {
  background: url("//d16cbq0l6kkf21.cloudfront.net/assets/ui/close.png") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  height: 23px;
  position: absolute;
  right: 1px;
  top: 3px;
  width: 23px;
}

body.yui-skin-sam .yui-panel hr {
  margin: 10px 0 10px;
  height: 0px;
  border: none;
  border-top: 1px solid rgb(82, 172, 255);
}

.tleTable {
  width: 100%;
  border: 1px solid white;
}

.tleTable th {
  text-align: center;
  color: #fff;
  background-color: #52acff;
  border: 1px solid white;
}

.tleTable td {
  font-size: 90%;
  text-align: center;
  border-width: 0px 1px 1px 0;
  border-style: solid;
  border-color: white;
}

/*
dialogs
*/

#login label,
#createEmpire label,
.speciesCreate label {
  display: inline-block;
  /*mozilla 3.0, ie 8*/
  zoom: 1;
  /*force ie layout so we can use the display:inline below*/
  *display: inline;
  /*ie hack to make it think this is an inline-block*/
}

#login label {
  width: 140px;
}

#login input[type="text"],
#login input[type="password"] {
  width: 242px;
}

#login li {
  margin-bottom: 3px;
}

.loginMain button {
  float: right;
  margin-right: 5px;
}

#login hr {
  margin: 17px 0 15px;
}

.loginWrapper {
  margin: 5px;
  overflow: hidden;
}

.loginCreate {
  width: 200px;
  margin-top: 10px;
  text-align: center;
  float: right;
}

.loginMain {
  width: 394px;
  border-right: 1px solid rgb(82, 172, 255);
  padding: 32px 5px;
  height: 100px;
  float: left;
}

.loginExtras {
  margin: 10px;
}

.loginExtras li {
  list-style: disc inside none;
}

#resetPasswordEmail li,
#resetPasswordKey li {
  margin: 3px 0;
}

#resetPasswordEmail input[type="text"],
#resetPasswordEmail input[type="password"] {
  width: 242px;
}

#resetPasswordKey input[type="text"],
#resetPasswordKey input[type="password"] {
  width: 292px;
}

#resetPasswordEmail label,
#resetPasswordKey label {
  display: inline-block;
  /*mozilla 3.0, ie 8*/
  zoom: 1;
  /*force ie layout so we can use the display:inline below*/
  *display: inline;
  /*ie hack to make it think this is an inline-block*/
  width: 130px;
}

#createEmpire .requiredField {
  color: #f00;
}

#createEmpire li.requiredField {
  text-align: center;
}

.facebookLogin .empirePassword .requiredField {
  display: none;
}

.facebookLogin .empireCaptcha {
  display: none;
}

#createEmpire li label {
  text-align: right;
  padding-right: 5px;
  vertical-align: top;
  width: 140px;
}

.facebookLogin .empireCaptcha {
  display: none;
}

.empireCaptcha img,
.empireCaptcha button {
  vertical-align: middle;
}

#empireCaptchaBorder {
  display: inline-block;
  /*mozilla 3.0, ie 8*/
  zoom: 1;
  /*force ie layout so we can use the display:inline below*/
  *display: inline;
  /*ie hack to make it think this is an inline-block*/
  border: 1px solid #000;
  width: 300px;
  height: 80px;
  margin-right: 5px;
}

#createEmpire li.empireCaptcha label {
  width: 57px;
}

#createEmpire .empireAgreeCheck {
  margin-top: 5px;
  padding-left: 65px;
}

#createEmpire .empireAgreeCheck input {
  margin-right: 5px;
}

#createEmpire .empireAgreeCheck label {
  width: auto;
}

.speciesAffinityTooltip {
  z-index: 20000 !important;
}

#createEmpire input[type="text"],
#createEmpire input[type="password"] {
  width: 220px;
}

#createEmpire textarea {
  width: 224px;
}

#createEmpire li {
  margin-bottom: 3px;
}

#profileSpeciesRedefineWarning {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #52acff;
  font-weight: bold;
}

.profileSpeciesRedefineButton {
  text-align: center;
}

.speciesCreate input[type="text"] {
  width: 250px;
}

.speciesCreate textarea {
  width: 253px;
}

.speciesCreate li label {
  width: 140px;
  display: inline-block;
  /*mozilla 3.0, ie 8*/
  zoom: 1;
  /*force ie layout so we can use the display:inline below*/
  *display: inline;
  /*ie hack to make it think this is an inline-block*/
  text-align: right;
  padding-right: 5px;
  vertical-align: top;
}

.speciesCreate .speciesAffinities li label {
  vertical-align: middle;
}

.quick-dialog {
  text-align: justify;
}

.quick-dialog p {
  margin: 10px 0;
}

#captcha li label {
  width: 70px;
  text-align: right;
  padding-right: 6px;
  vertical-align: top;
  display: inline-block;
  /*mozilla 3.0, ie 8*/
  zoom: 1;
  /*force ie layout so we can use the display:inline below*/
  *display: inline;
  /*ie hack to make it think this is an inline-block*/
}

#captchaSolution {
  width: 220px;
}

#captchaImage {
  border: 1px solid #000;
  vertical-align: top;
  margin: 5px 0;
}

#captchaRefresh {
  margin: 32px 0 0 13px;
}

/*
* Messaging
*/

#messagingTabs #messagingCreate {
  background-color: #52ACFF;
}

.message {
  border: 1px solid #B2B2B2;
  cursor: pointer;
  margin: 3px 3px 0;
  padding: 2px 2px 0;
  position: relative;
}

.message .messageContainer {
  margin-right: 26px;
}

.message .messageSelect {
  position: absolute;
  right: 1px;
  width: 26px;
}

.messageSelect input[type="checkbox"] {
  float: right;
}

.message .messageExcerpt {
  font-size: 90%;
}

.unread .messageDate,
.unread .messageFrom,
.unread .messageSubject {
  font-weight: bold;
}

.messageDate,
.messageFrom,
.messageSubject {
  font-size: 13px;
  padding: 2px 0;
}

#messagingTabs .yui-content {
  padding: 0;
}

#messagingCreator {
  border-top-color: #52ACFF;
}

#messagingCreator div.messagingCreatorC {
  background-color: #D2D2D2;
}

#messagingCreateToTbl {
  background-color: #fff;
}

#messagingCreateToTbl,
#messagingCreateSubject {
  width: 450px;
}

#messagingCreateTo {
  width: 100px;
}

#messagingCreateBody {
  height: 260px;
}

#messagingCreateText {
  width: 100%;
  height: 100%;
  border: 0;
}

#messagingCreateResponse {
  color: red;
}

#messagingArchiver {
  background-color: #52ACFF;
}

/*#messagingPaginator, #statsEmpirePaginator*/

body.yui-skin-sam .yui-pg-container {
  background-color: white;
  margin: 0px;
  border: 1px solid #52acff;
}

/*#messagingPaginator .yui-pg-current-page, #statsEmpirePaginator  .yui-pg-current-page*/

body.yui-skin-sam .yui-pg-container .yui-pg-current-page {
  color: #000;
}

#messagingDisplay {
  padding-top: 5px;
  margin-left: 1%;
  /*overflow: auto;
	height:384px;*/
}

#messagingDisplay label,
#messagingCreator label {
  background-color: #D2D2D2;
  display: inline-block;
  /*mozilla 3.0, ie 8*/
  zoom: 1;
  /*force ie layout so we can use the display:inline below*/
  *display: inline;
  /*ie hack to make it think this is an inline-block*/
  font-weight: bold;
  width: 75px;
  color: #000;
}

#messagingDisplay div,
#messagingCreator div.messagingCreatorC {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #D2D2D2;
}

#messagingDisplay span {
  padding-left: 2px;
}

#messagingDisplay #messagingBody {
  border-top: 1px solid #D2D2D2;
  padding: 2px 5px;
}

#messagingFrom a,
#messagingTo a {
  text-decoration: underline;
  cursor: pointer;
}

#messagingBody #attachmentImage {
  border-color: transparent;
  border-style: none;
  border-width: 0;
}

#attachmentTable th {
  font-weight: bold;
  border: 1px solid #52ACFF;
  padding: 1px 2px;
}

#attachmentTable td {
  border: 1px solid #52ACFF;
  padding: 1px 2px;
}

#attachmentMap {
  border-collapse: collapse;
  border: 0;
  width: 550px;
  height: 550px;
}

#attachmentMap  .attachmentMapTile {
  float: left;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

/*
* Species creator
*/

.speciesSlider_bg {
  display: inline-block;
  /*mozilla 3.0, ie 8*/
  zoom: 1;
  /*force ie layout so we can use the display:inline below*/
  *display: inline;
  /*ie hack to make it think this is an inline-block*/
  position: relative;
  background: url("//d16cbq0l6kkf21.cloudfront.net/assets/ui/tickbar.png") -11px 5px no-repeat;
  height: 28px;
  width: 198px;
  top: 5px;
}

.speciesHO_min,
.speciesHO_max {
  display: inline-block;
  /*mozilla 3.0, ie 8*/
  zoom: 1;
  /*force ie layout so we can use the display:inline below*/
  *display: inline;
  /*ie hack to make it think this is an inline-block*/
  position: absolute;
  top: 0px;
}

.speciesHO_min {
  left: -7px;
}

.speciesHO_max {
  left: 7px;
}

.thumbDisplay {
  position: absolute;
  display: block;
  text-align: center;
  width: 100%;
  color: black;
  bottom: 2px;
}

.speciesButtons {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #52acff;
}

.speciesHO_highlight {
  position: absolute;
  background: #103060;
  _font-size: 5px;
  /* prevent IE6 expanding the box height to font-size */
  top: 10px;
  left: 12px;
  height: 13px;
  width: 188px;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}

.speciesHO .speciesSlider_lock {
  border-left: 1px solid red;
}

.speciesSlider_lock {
  position: absolute;
  border-right: 1px solid red;
  _font-size: 5px;
  /* prevent IE6 expanding the box height to font-size */
  top: 8px;
  left: 12px;
  height: 20px;
  width: 0px;
  display: none;
}

.speciesSlider_lock_bg {
  position: relative;
  background: #bfbfbf;
  _font-size: 5px;
  /* prevent IE6 expanding the box height to font-size */
  top: 2px;
  height: 13px;
  width: 100%;
  display: block;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}

.speciesSliderThumb {
  position: absolute;
  cursor: default;
  top: 8px;
}

.affinitiesLabel {
  font-size: 150%;
  padding: 0 80px;
}

.speciesPointLine {
  font-size: 150%;
}

.speciesPointsValid {
  color: #00e000;
}

.speciesPointsInvalid {
  color: #f00;
}

.speciesPointsLow {
  color: #ff0;
}

/*
Info dialogs for Empire and Alliance
*/

#infoEmpire label,
#infoAlliance label {
  display: inline-block;
  /*mozilla 3.0, ie 8*/
  zoom: 1;
  /*force ie layout so we can use the display:inline below*/
  *display: inline;
  /*ie hack to make it think this is an inline-block*/
  width: 100px;
  font-weight: bold;
}

/*
* Star Map
*/

#starMap,
#planetMap {
  border: 0 none;
  clear: both;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

#planetMap,
#starMap {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
}

#starMap:active,
#planetMap:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

#planetMap .tile:hover {
  margin: -1px;
  border: 1px dashed #fff;
}

.tile {
  word-wrap: break-word;
}

.tile .self {
  border: 1px solid green;
}

.tile .ally {
  border: 1px solid purple;
}

.tile .ally-isolationist {
  border: 1px dashed purple;
}

.tile .hostile {
  border: 1px solid orange;
}

.tile .hostile-isolationist {
  border: 1px dashed orange;
}

.tile .probed {
  border: 1px dotted #555;
}

.tileContainer div.planetMapTileCounter {
  z-index: 2;
  text-align: right;
  font-size: 140%;
  font-family: impact, sans-serif;
  position: absolute;
  left: 0;
  top: 0;
}

.tileContainer div.planetMapTileCounterWork {
  z-index: 2;
  text-align: left;
  vertical-align: middle;
  color: orange;
  font-size: 140%;
  font-family: impact, sans-serif;
  position: absolute;
  left: 0;
  bottom: 0;
}

.tileContainer div {
  color: white;
}

.planetMapEfficiencyBarContainer {
  z-index: 2;
  text-align: center;
  font-size: 100%;
  font-family: impact, sans-serif;
  line-height: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  bottom: 5px;
  border: 1px solid #999;
  background-color: #444;
}

.planetMapEfficiencyBar {
  z-index: 2;
  height: 100%;
  margin-right: auto;
  white-space: nowrap;
}

.planetMapTileActionContainer {
  z-index: 3;
  text-align: left;
  font-size: 140%;
  font-family: impact, sans-serif;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 50%;
}

.planetMapTileActionLevel,
.planetMapTileActionButton {
  width: 58px;
  height: 45px;
  border: 0;
  cursor: pointer;
  margin: -22px auto 0;
  text-align: center;
}

.planetMapTileActionLevel {
  font-size: 190%;
  font-weight: bold;
  color: white;
}

.planetMapTileActionButton {
  background: transparent url("//localhost:8080/lacuna/assets/ui/l/build.png");
}

.plots-full .planetMapTileActionButton {
  background: transparent url("//localhost:8080/lacuna/assets/ui/l/build-no.png");
}

.tileContainer .tile50  div.planetMapTileCounter {
  font-family: Arial Narrow, Times New Roman, sans-serif;
  font-size: 95%;
}

.tileContainer .tile50  div.planetMapTileCounterWork {
  font-family: Arial Narrow, Times New Roman, sans-serif;
  font-size: 95%;
}

.tile50 .planetMapTileActionContainer {
  font-size: 100%;
}

.tile50 .planetMapTileActionLevel,
.tile50 .planetMapTileActionButton {
  width: 29px;
  height: 22px;
  margin: -12px auto 0;
}

.tile50 .planetMapTileActionLevel {
  font-size: 180%;
}

.tile50 .planetMapTileActionButton {
  background: transparent url("//localhost:8080/lacuna/assets/ui/s/build.png");
}

.plots-full .tile50 .planetMapTileActionButton {
  background: transparent url("//localhost:8080/lacuna/assets/ui/s/build-no.png");
}

.mapiator_zoom {
  background: url("//d16cbq0l6kkf21.cloudfront.net/assets/ui/zoom.png");
  background-position: -20px -60px;
  position: absolute;
  z-index: 30;
  width: 20px;
  height: 255px;
  left: 15px;
  top: 100px;
}

.mapiator_zoom_slider {
  position: absolute;
  cursor: pointer;
  top: 50px;
  left: 0px;
  width: 20px;
  height: 150px;
}

.mapiator_zoom_slider_thumb {
  cursor: row-resize;
}

.mapiator_zoom_in,
.mapiator_zoom_out {
  position: absolute;
  cursor: pointer;
  width: 18px;
  left: 1px;
  height: 19px;
}

.mapiator_zoom_in {
  top: 26px;
}

.mapiator_zoom_out {
  top: 209px;
}

.tile .planetMapTileActionContainer {
  visibility: hidden;
}

.tile:hover .planetMapTileActionContainer {
  visibility: visible;
}

body.yui-skin-sam .yui-navset .yui-nav,
body.yui-skin-sam .yui-navset .yui-navset-top .yui-nav {
  border-color: #52acff;
}

body.yui-skin-sam .yui-navset .yui-content,
body.yui-skin-sam .yui-navset .yui-navset-top .yui-content {
  border-color: #52acff;
}

body.yui-skin-sam .yui-navset .yui-content {
  background-color: transparent;
}

body.yui-skin-sam .yui-navset .yui-nav .selected a,
body.yui-skin-sam .yui-navset .yui-nav .selected a em {
  border-color: #52acff;
}

body.yui-skin-sam .yui-navset .yui-nav a,
body.yui-skin-sam .yui-navset .yui-navset-top .yui-nav a {
  background: none repeat scroll 0 0 #D8D8D8;
}

body.yui-skin-sam .yui-navset .yui-nav a:focus,
body.yui-skin-sam .yui-navset .yui-nav a:hover {
  background: none repeat scroll 0 0 #BFDAFF;
}

body.yui-skin-sam .yui-navset .yui-nav .selected a,
body.yui-skin-sam .yui-navset .yui-nav .selected a:focus,
body.yui-skin-sam .yui-navset .yui-nav .selected a:hover {
  background: none repeat scroll 0 0 #52acff;
}

body.yui-skin-sam  .yui-pg-page {
  background-color: transparent;
  border: 0px;
}

.planet,
.star {
  cursor: pointer;
  position: relative;
  display: inline;
  vertical-align: middle;
}

/*
planet details
*/

#planetDetailsName,
#starDetailsName {
  font-family: impact;
  font-size: 120%;
}

#planetDetailsInfo label,
#planetDetailOre label,
#starDetailsInfo label {
  font-weight: bold;
  display: inline-block;
  /*mozilla 3.0, ie 8*/
  zoom: 1;
  /*force ie layout so we can use the display:inline below*/
  *display: inline;
  /*ie hack to make it think this is an inline-block*/
  width: 100px;
}

#planetDetailRename label {
  width: 150px;
}



.planetDetailSpiesMessage,
.planetDetailSpyShipMessage {
  height: 25px;
  float: left;
}

.planetDetailSelectSpies button,
.planetDetailSpyShipHeader button {
  float: right;
}

.planetDetailSpiesList,
.planetDetailSpyShipList {
  overflow-y: auto;
  clear: both;
  border-top: 1px solid #52acff;
  margin: 0 -6px -3px -7px;
}

.planetDetailSpiesList li,
.planetDetailSpyShipList li {
  border-bottom: 1px solid #52acff;
  padding: 5px;
}

/*.planetDetailSpiesList li {
	position:relative;
}*/

.planetDetailSpyShipList li button {
  float: right;
}

.planetDetailSpiesList li .description {
  display: inline-block;
  /*mozilla 3.0, ie 8*/
  zoom: 1;
  /*force ie layout so we can use the display:inline below*/
  *display: inline;
  /*ie hack to make it think this is an inline-block*/
}

.planetDetailSpiesList li .attributes {
  display: inline-block;
  /*mozilla 3.0, ie 8*/
  zoom: 1;
  /*force ie layout so we can use the display:inline below*/
  *display: inline;
  /*ie hack to make it think this is an inline-block*/
  vertical-align: top;
  margin-left: 10px;
}

.planetDetailSpiesList li .attributes .attribute {
  white-space: nowrap;
  margin: 0 5px;
}

.planetDetailSpiesList li input {
  float: right;
}

.planetDetailSpiesList strong,
.planetDetailSpyShipList strong {
  font-weight: bold;
}

.smallImg {
  display: inline-block;
  /*mozilla 3.0, ie 8*/
  zoom: 1;
  /*force ie layout so we can use the display:inline below*/
  *display: inline;
  /*ie hack to make it think this is an inline-block*/
  width: 25px;
  /*30px;*/
  vertical-align: middle;
  text-align: center;
}

.buildingDetailsNum {
  display: inline-block;
  /*mozilla 3.0, ie 8*/
  zoom: 1;
  /*force ie layout so we can use the display:inline below*/
  *display: inline;
  /*ie hack to make it think this is an inline-block*/
  text-align: right;
  width: 120px;
}

#buildingDetailsName,
.buildingName,
.shipName {
  font-weight: bold;
}

.shipName {
  cursor: pointer;
  text-decoration: underline;
}

#buildingDetailsDesc {
  border-top: 1px solid #52acff;
  font-size: 85%;
}

.buildingStats {
  width: 100%;
}

.buildingStats th {
  font-weight: bold;
}

.buildingStats .low-resource,
.buildingDetailsNum.low-resource {
  color: #f00;
}

.buildingDesc,
.shipDesc,
.missionDesc,
.missionPosted,
.missionUniversity {
  font-size: 85%;
}

.shipDesc {
  border-bottom: 1px solid #52acff;
}

.buildingDesc a {
  display: block;
  text-align: right;
}

.buildingReason {
  color: #f66;
  font-size: 85%;
}

/*#buildingBuilderUnavailable .buildingDesc  {
	border-top:1px solid #52acff;
}*/

#builderMenu,
#builderListContainer .yui-content {
  border: 1px solid #52acff;
}

#builderMenu .builderMenuGroup {
  display: block;
  width: 500px;
  margin: 5px auto 15px;
  text-align: center;
}

#builderMenu .builderMenuGroup em,
#builderMenu .builderMenuGroup li {
  display: inline-block;
  /*mozilla 3.0, ie 8*/
  zoom: 1;
  /*force ie layout so we can use the display:inline below*/
  *display: inline;
  /*ie hack to make it think this is an inline-block*/
  margin-bottom: 1px;
}

#builderMenu .builderMenuGroup a {
  width: 200px;
  /*height: 20px;*/
}

#builderMenu .builderMenuGroup em {
  font-weight: bold;
  height: 20px;
}

/*#buildingDetailsExtra {
	padding: 5px 0;
}
#buildingDetailsProduction {
	padding-top:5px;
}*/

/*#buildingDetailsExtra, #buildingDetailsProduction {
	border-top: 2px solid #52acff;
}*/

#buildingDetailsExtra,
.buildingDetailsExtra {
  min-height: 200px;
  max-height: 300px;
  overflow: auto;
}

.buildingDetailsExtra label {
  display: inline-block;
  /*mozilla 3.0, ie 8*/
  zoom: 1;
  /*force ie layout so we can use the display:inline below*/
  *display: inline;
  /*ie hack to make it think this is an inline-block*/
  width: 75px;
}

.buildingDetailsExtra .buildingDetailsPC li label {
  display: inline-block;
  /*mozilla 3.0, ie 8*/
  zoom: 1;
  /*force ie layout so we can use the display:inline below*/
  *display: inline;
  /*ie hack to make it think this is an inline-block*/
  width: 125px;
}

.buildingDetailsDockedShips label {
  display: inline-block;
  /*mozilla 3.0, ie 8*/
  zoom: 1;
  /*force ie layout so we can use the display:inline below*/
  *display: inline;
  /*ie hack to make it think this is an inline-block*/
  width: 185px;
}

.pcStored,
.pcCapacity,
.pcPerHour {
  display: inline-block;
  /*mozilla 3.0, ie 8*/
  zoom: 1;
  /*force ie layout so we can use the display:inline below*/
  *display: inline;
  /*ie hack to make it think this is an inline-block*/
  text-align: right;
}

.pcStored {
  width: 100px;
}

.pcCapacity {
  width: 100px;
}

.pcPerHour {
  width: 50px;
}

.pcSlash {
  display: inline-block;
  /*mozilla 3.0, ie 8*/
  zoom: 1;
  /*force ie layout so we can use the display:inline below*/
  *display: inline;
  /*ie hack to make it think this is an inline-block*/
  text-align: center;
  width: 15px;
}

.smallFood {
  width: 22px;
  /*38px;*/
  height: 22px;
}

.smallOre {
  width: 19px;
  /*21px;*/
  height: 22px;
}

.smallWater {
  width: 18px;
  /*15px;*/
  height: 22px;
}

.smallEnergy {
  width: 10px;
  /*11px;*/
  height: 22px;
}

.smallWaste {
  width: 15px;
  /*16px;*/
  height: 22px;
}

.smallHappy {
  width: 19px;
  /*22px;*/
  height: 22px;
}

.smallEssentia {
  width: 24px;
  /*28px;*/
  height: 22px;
}

.smallTime {
  width: 21px;
  height: 22px;
}

.smallStorage {
  width: 22px;
  height: 22px;
}

.newsFeedContainer {
  height: 200px;
  overflow-y: auto;
  font-size: 90%;
  margin: 5px 0;
  padding: 1px;
  border: 1px solid #52acff;
}



#newsRssLinks li {
  float: left;
  margin-right: 10px;
}

.newsRssLink a {
  vertical-align: middle;
}

#observatoryInfo,
#platformShippingInfo {
  margin-bottom: 2px;
  padding-bottom: 2px;
  border-bottom: 1px solid #52ACFF;
}

/* shared display headers */

.buildQueueHeader,
.embassyHeader,
.probeHeader,
.spiesHeader,
.shipHeader,
.shipQueueHeader,
.tradeHeader,
.platformHeader,
.excavatorHeader,
.planHeader,
.supplyChainHeader,
.incomingSupplyChainHeader {
  font-weight: bold;
  border-bottom: 1px solid #52acff;
}

.buildQueue li,
.embassyInfo li,
.probeInfo li,
.securityInfo li,
.spyInfo li,
.shipInfo li,
.shipQueue li,
.tradeInfo li,
.planetsInfo li,
.platformInfo li,
.excavatorInfo li,
.archaeologyGlyphInfo li,
.plan li,
.supplyChainInfo li,
.incomingSupplyChainInfo li {
  float: left;
}

.spyInfo,
.platformInfo,
.excavatorInfo {
  border: 1px solid #ddd;
  padding: 2px;
  margin: 0 2px 2px 0;
}

.spyInfo li,
.platformInfo li,
.excavatorInfo li {
  font-size: 90%;
}

.spyInfo li label,
.platformInfo li label,
.excavatorInfo li label {
  font-weight: bold;
  margin-right: 3px;
}

div.archaeologySlots {
  padding: 5px;
}

ul.archaeologyGlyphInfo {
  position: relative;
  width: 510px;
  height: 175px;
  border: 1px solid #FFD800;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

ul.archaeologyGlyphInfo li {
  margin: 1px;
  cursor: move;
  zoom: 1;
}

div.archaeologyGlyphContainer {
  border: 1px solid white;
}

div.archaeologyGlyphContainer div.archaeologyGlyphHeader {
  background-color: white;
  color: black;
}

.subspaceTransmit {
  width: 200px;
  margin: 10px 5px;
}

#subspaceCompleteBuildQueue {
  width: 300px;
}

#buildingDetailsExtra {
  overflow: auto;
}

.buildQueue .buildQueueRank {
  width: 30px;
}

.buildQueue .buildQueueName {
  width: 170px;
}

.buildQueue .buildQueueLevel {
  width: 50px;
  text-align: right;
}

.buildQueue .buildQueueTime {
  width: 100px;
  text-align: right;
}

.buildQueue .buildQueueCoords {
  width: 100px;
  text-align: right;
}

.buildQueue .buildQueueSubsidy {
  width: 100px;
  text-align: right;
}

.buildQueue .buildQueueAction {
  text-align: right;
  width: 115px;
}

.buildQueueHeader .buildQueueLevel,
.buildQueueHeader .buildQueueTime {
  text-align: center;
}

.embassyInfo .embassyAlliance {
  width: 200px;
}

.embassyInfo .embassyEmpire {
  width: 200px;
  text-decoration: underline;
  cursor: pointer;
}

.embassyInfo .embassyMessage {
  width: 250px;
}

.embassyInfo .embassyAction {
  width: 200px;
}

.embassyStash legend,
.tradeStash legend,
.distribContainers legend {
  color: #fff;
  padding: 0 5px;
  font-weight: bold;
}

.embassyContainers,
.tradeContainers,
.distribContainers {
  height: 200px;
  overflow-y: auto;
  border: 1px solid #52ACFF;
}

.embassyContainers .stashName,
.tradeContainers .tradeName,
.tradeContainers .tradeResourceName,
.distribContainers .reserveName {
  display: inline-block;
  /*mozilla 3.0, ie 8*/
  zoom: 1;
  /*force ie layout so we can use the display:inline below*/
  *display: inline;
  /*ie hack to make it think this is an inline-block*/
  width: 150px;
  overflow: hidden;
}

.embassyContainers li,
.tradeContainers  li,
.distribContainers li {
  background-color: #52ACFF;
  border: 1px solid black;
  margin: 1px;
  padding: 1px 2px;
  font-size: 80%;
}

.embassyContainers li button,
.tradeContainers  li button,
.distribContainers  li button {
  padding: 1px;
}

.stashItem,
.tradeItem,
.reserveItem {
  position: relative;
}

.stashItem .stashDelete,
.tradeItem .tradeDelete,
.distribContainers .reserveDelete {
  background: url("//d16cbq0l6kkf21.cloudfront.net/assets/ui/close.png") no-repeat scroll center center transparent;
  height: 11px;
  width: 11px;
  position: absolute;
  right: 0pt;
  cursor: pointer;
}

.tradeContainers  .tradeName {
  width: 319px;
  /* reduced from 320px to keep the + button from wrapping */
}

.tradeContainers .tradeResourceName,
.distribContainers .reserveName {
  width: 230px;
}

.accordian {
  cursor: pointer;
  background-color: gray;
  border-color: white;
  border-style: solid;
  border-width: 1px 1px 0;
  font-weight: bold;
  padding: 4px;
}

.recycleTab fieldset,
.capitolEmpireRenameTab fieldset,
.speciesRenameTab fieldset {
  border: 1px solid #52acff;
  padding: 5px;
  display: inline-block;
  /*mozilla 3.0, ie 8*/
  zoom: 1;
  /*force ie layout so we can use the display:inline below*/
  *display: inline;
  /*ie hack to make it think this is an inline-block*/
  text-align: center;
  margin: 10px;
}

.recycleTab fieldset,
.capitolEmpireRenameTab fieldset {
  width: 220px;
}

.recycleTab fieldset legend,
.capitolEmpireRenameTab fieldset legend,
.speciesRenameTab fieldset legend {
  color: #fff;
  padding: 0 5px;
}

.recycleTab fieldset label,
.speciesRenameTab fieldset label {
  display: block;
}

.recycleTab fieldset label {
  height: 22px;
}

.plan li {
  width: 100px;
}

.plan li.planName {
  width: 200px;
}

.planetDisplay {
  width: 350px;
  border: 1px solid black;
  background-color: #52ACFF;
  margin: 2px;
  padding: 5px;
  cursor: pointer;
}

.probeInfo .probeStar {
  width: 200px;
  border: 1px solid black;
  background-color: #52ACFF;
  margin: 2px;
  position: relative;
}

.probeStar .probeAction {
  cursor: pointer;
}

.probeStar .probeDelete {
  background: url("//d16cbq0l6kkf21.cloudfront.net/assets/ui/close.png") no-repeat scroll center center transparent;
  height: 11px;
  width: 11px;
  position: absolute;
  right: 0pt;
  cursor: pointer;
}

.securityInfo .securityName {
  width: 100px;
}

.securityInfo .securityLevel {
  width: 80px;
}

.securityInfo .securityNextMisson,
.securityInfo .securitySentence {
  width: 180px;
}

.securityInfo .securityStatus {
  width: 140px;
}

.securityInfo .securityExecute {
  width: 100px;
}

.securityInfo .securityRelease {
  width: 100px;
}

.spyInfo .spyName {
  width: 100px;
  font-weight: bold;
  font-size: 100%;
  cursor: url("//d16cbq0l6kkf21.cloudfront.net/assets/ui/web/pen_m.cur"), text;
}

.spyInfo .spyName input {
  width: 95px;
  font-size: 90%;
}

.spyInfo .spyAssignedTo {
  width: 200px;
}

.spyInfo .spyAvailableWhen {
  width: 270px;
}

.spyInfo .spyAssignment {
  width: 440px;
}

.spyInfo .spyAssignment select {
  width: 325px;
  margin-right: 5px;
}

.spyInfo .spyAssignResult a {
  margin-left: 1em;
}

.spyInfo .spyOffense {
  width: 100px;
}

.spyInfo .spyDefense {
  width: 100px;
}

.spyInfo .spyLevel {
  width: 100px;
}

.spyInfo .spyIntel {
  width: 100px;
}

.spyInfo .spyMayhem {
  width: 100px;
}

.spyInfo .spyPolitics {
  width: 100px;
}

.spyInfo .spyTheft {
  width: 100px;
}

.spyInfo .spyBurn {
  width: 60px;
  float: right;
}

.spyInfo .spyMissionCounts {
  width: 100px;
}

.spyInfo .spyOffensiveMissions {
  width: 100px;
}

.spyInfo .spyDefensiveMissions {
  width: 100px;
}

.spyInfo .spyTotalMissions {
  width: 100px;
}

.shipInfo .shipType {
  width: 180px;
}

.shipInfo .shipCost {
  width: 310px;
}

.shipInfo .shipAttributes {
  width: 100px;
}

.shipInfo .shipBuild {
  width: 60px;
}

.shipInfo .shipArrives {
  width: 180px;
}

.shipInfo .shipFrom {
  width: 140px;
}

.shipInfo .shipTo {
  width: 140px;
}

.shipInfo .shipTypeImage {
  width: 54px;
}

.shipInfo .shipName {
  width: 165px;
}

.shipInfo .shipTask {
  width: 100px;
}

.shipInfo .shipSpeed {
  width: 75px;
}

.shipInfo .shipHold {
  width: 75px;
}

.shipInfo .shipAction {
  width: 100px;
}

.shipInfo .shipReason {
  width: 150px;
}

.shipQueue .shipQueueType {
  width: 180px;
}

.shipQueue .shipQueueEach {
  width: 150px;
}

.supplyChainInfo .supplyChainBody {
  width: 35%;
}

.supplyChainInfo .supplyChainResource {
  width: 20%;
}

.supplyChainInfo .supplyChainHour {
  width: 15%;
}

.supplyChainInfo .supplyChainAction {
  width: 30%;
}

.supplyChainInfo .supplyChainStalled {
  color: #f00;
}

.supplyChainStalled {
  color: #f00;
  font-weight: bold;
}

.incomingSupplyChainInfo .incomingSupplyChainBody {
  width: 55%;
}

.incomingSupplyChainInfo .incomingSupplyChainResource {
  width: 15%;
}

.incomingSupplyChainInfo .incomingSupplyChainHour {
  width: 15%;
}

.incomingSupplyChainInfo .incomingSupplyChainEfficiency {
  width: 15%;
}

.incomingSupplyChainStalled {
  color: #f00;
  font-weight: bold;
}

.tradeInfo {
  margin-bottom: 10px;
}

.tradeInfo .tradeEmpire {
  width: 180px;
  text-decoration: underline;
  cursor: pointer;
}

.tradeInfo .tradeOfferedDate {
  width: 115px;
}

.myTrades .tradeInfo .tradeOfferedDate {
  width: 185px;
}

.tradeInfo .tradeAsking {
  width: 55px;
}

.tradeInfo .tradeAsking img {
  vertical-align: top;
}

.tradeInfo .tradeOffer {
  width: 240px;
}

.myTrades .tradeInfo .tradeOffer {
  width: 400px;
}

.tradeInfo .tradeAction {
  width: 75px;
}

#tradePushCargo {
  margin: 0 4px;
}

.transporterOneForOne label {
  display: inline-block;
  /*mozilla 3.0, ie 8*/
  zoom: 1;
  /*force ie layout so we can use the display:inline below*/
  *display: inline;
  /*ie hack to make it think this is an inline-block*/
  width: 75px;
}

.transporterOneForOne input,
.transporterOneForOne select {
  width: 200px;
}

.transporterOneForOne button {
  margin: 5px;
}

.excavatorInfo .excavatorLocation {
  width: 250px;
  text-decoration: underline;
  cursor: pointer;
}

.excavatorInfo .excavatorLocation img {
  width: 30px;
  height: 30px;
  float: left;
}

.excavatorInfo .excavatorProduction {
  width: 200px;
}

.excavatorInfo .excavatorChances {
  width: 630px;
}

.excavatorInfo .excavatorChances  ul li {
  float: left;
  margin: 0 4px;
}

.platformInfo .platformLocation {
  width: 250px;
  text-decoration: underline;
  cursor: pointer;
}

.platformInfo .platformLocation img {
  width: 30px;
  height: 30px;
  float: left;
}

.platformInfo .platformProduction {
  width: 200px;
}

.platformInfo .platformShipping {
  width: 200px;
}

.platformInfo .platformOre {
  width: 630px;
}

.platformInfo .platformOre  ul li {
  float: left;
  margin: 0 4px;
}

.platformInfo .platformAbandon {
  width: 100px;
  float: right;
}

#battleLogsDetails label {
  font-weight: bold;
}

#battleLogsDetails .attacker {
  padding: 5px;
  border-top: 1px solid #52acff;
}

#battleLogsDetails .attacked {
  padding: 5px;
}

#battleLogsDetails .defender {
  padding: 5px;
}

#battleLogsDetails .first {
  border-top: none;
}

#propsDetails li,
#lawsDetails li {
  margin-top: 3px;
  border: 1px solid #52acff;
  padding: 5px;
}

#propsDetails li  label,
#lawsDetails li  label {
  font-weight: bold;
}

#propsDetails .propDesc,
#lawsDetails .lawDesc {
  padding: 5px;
  font-size: 90%;
}

#propsDetails .propMyVote {
  padding: 5px;
}

#propsDetails th {
  border-bottom: 1px solid #999;
  font-weight: bold;
}

#proposeContainer label {
  display: inline-block;
  /*mozilla 3.0, ie 8*/
  zoom: 1;
  /*force ie layout so we can use the display:inline below*/
  *display: inline;
  /*ie hack to make it think this is an inline-block*/
  width: 130px;
  font-weight: bold;
  vertical-align: top;
}

#proposeContainer  button {
  margin-top: 10px;
}

#proposeContainer li {
  margin-top: 2px;
}

#proposeSeizeStarFindTbl,
#proposeInductMemberTbl {
  width: 400px;
}

body.yui-skin-sam .yui-tt .bd {
  -moz-border-radius: 0 0 0 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  border-radius: 0 0 0 0;
  border-width: 0;
  background: #52acff;
  border-color: #429cef #328cdf #328cdf;
}

/*
PROFILE
*/

#profileDetails {
  margin-bottom: 5px;
}

#profileDetails label {
  display: inline-block;
  /*mozilla 3.0, ie 8*/
  zoom: 1;
  /*force ie layout so we can use the display:inline below*/
  *display: inline;
  /*ie hack to make it think this is an inline-block*/
  width: 75px;
}

#profileDescription {
  width: 428px;
}

#profileStatus {
  width: 424px;
}

.medalContainer {
  overflow: hidden;
  font-size: 80%;
  zoom: 1;
  height: 50px;
  width: 50px;
}

.medal {
  margin: 3px 3px 0;
  padding: 2px 2px 0;
  position: relative;
  float: left;
}

.medal .medalPublic {
  cursor: pointer;
  position: absolute;
  right: 1px;
}

.medal .medalImg {
  float: left;
  margin-right: 10px;
}

#geneticsLabSpies li.selected {
  font-weight: bold;
}

#geneticsLabSpies li {
  cursor: pointer;
  background-color: #52acff;
  padding: 2px;
  margin: 2px 0;
}

#profileSpecies label,
#geneticsLabDetails label,
#profileAccountInfo label {
  display: inline-block;
  /*mozilla 3.0, ie 8*/
  zoom: 1;
  /*force ie layout so we can use the display:inline below*/
  *display: inline;
  /*ie hack to make it think this is an inline-block*/
  width: 125px;
  vertical-align: top;
  font-weight: bold;
}

#profileSpecies span,
#geneticsLabDetails span,
#profileAccountInfo span {
  display: inline-block;
  width: 250px;
}

#detailsAccount,
#detailsPlayer,
#detailsNotes,
#detailsBrowser,
#pccNotes {
  padding: 5px;
}

#profileNotes,
#pccNotesText {
  width: 100%;
  height: 200px;
}

#detailsAccount label,
#detailsPlayer label {
  display: inline-block;
  /*mozilla 3.0, ie 8*/
  zoom: 1;
  /*force ie layout so we can use the display:inline below*/
  *display: inline;
  /*ie hack to make it think this is an inline-block*/
  width: 350px;
  text-align: right;
}

#detailsAccount label input,
#detailsPlayer label input {
  margin-left: 5px;
  width: 200px;
}

ul.statsList label {
  font-weight: bold;
  padding-right: 5px;
}

ul.statsSubList,
ul.statsSubList ul {
  padding-left: 40px;
}

.statsSubHeader {
  cursor: pointer;
  text-decoration: underline;
}

#statsTabs .yui-dt {
  color: black;
}

/*#statsEmpireTable, #statsColonyTable, #statsSpyTable {
	color:black;
}
#statsEmpire, #statsColony, #statsSpy{
	background-color:#ddd;
}*/

.missionList,
.inlineList {
  display: inline-block;
  /*mozilla 3.0, ie 8*/
  zoom: 1;
  /*force ie layout so we can use the display:inline below*/
  *display: inline;
  /*ie hack to make it think this is an inline-block*/
  vertical-align: top;
  margin-left: 20px;
}

.missionList li,
.inlineList li {
  list-style: square outside none;
  font-size: 85%;
  float: none;
}

.mission {
  border-bottom: 1px solid #52acff;
  padding-bottom: 5px;
  margin-bottom: 2px;
}

.missionName {
  font-weight: bold;
  font-size: 115%;
}

.missionDesc {
  padding: 5px;
}

#lojDetails li label {
  display: inline-block;
  /*mozilla 3.0, ie 8*/
  zoom: 1;
  /*force ie layout so we can use the display:inline below*/
  *display: inline;
  /*ie hack to make it think this is an inline-block*/
  width: 130px;
  font-weight: bold;
}

/*
TextboxList
*/

.TextboxList {
  position: relative;
  font-size: inherit;
  font-family: inherit;
  width: 100%;
  display: -moz-inline-stack;
  /*mozilla 2.0*/
  display: inline-block;
  /*mozilla 3.0, ie 8*/
  zoom: 1;
  /*force ie layout so we can use the display:inline below*/
  *display: inline;
  /*ie hack to make it think this is an inline-block*/
}

.TextboxListContainer {
  border: 1px solid #999999;
  cursor: text;
  width: 100%;
  display: -moz-inline-stack;
  /*mozilla 2.0*/
  display: inline-block;
  /*mozilla 3.0, ie 8*/
  zoom: 1;
  /*force ie layout so we can use the display:inline below*/
  *display: inline;
  /*ie hack to make it think this is an inline-block*/
}

.TextboxListDisabled {
  background-color: #ddd;
  cursor: default;
}

.TextboxListDisabled .TextboxListBitBoxDelete {
  cursor: default;
}

.TextboxList .TextboxListBit {
  cursor: default;
  display: block;
  float: left;
  list-style-type: none;
  line-height: 18px;
  margin: 0 5px 0 0;
  padding: 0 0 0 2px;
  min-width: 5px;
  /* override any other min-width settings */
}

.TextboxList .TextboxListBitBox {
  background: #52acff none repeat scroll 0 0;
  border: 1px solid #CAD8F3;
  position: relative;
  font-size: 85%;
  padding: 0 15px 0 2px;
}

.TextboxList .TextboxListBitBoxDelete {
  background: transparent url("//d16cbq0l6kkf21.cloudfront.net/assets/ui/crosssmall.gif") repeat scroll 0 0;
  display: block;
  font-size: 1px;
  height: 7px;
  position: absolute;
  right: 4px;
  top: 6px;
  width: 7px;
}

.TextboxList .TextboxListContainer ul.TextboxListBits {
  position: static;
  vertical-align: top;
}

/*  width:15em; */

.TextboxList .TextboxListIndicator img {
  height: 14px;
  width: 14px;
}

.TextboxList .TextboxListIndicatorSingle {
  position: absolute;
  top: 2px;
  left: 2px;
}

.yui-skin-sam .TextboxList .TextboxListInput {
  border: 0 none;
  position: static;
  width: 1px;
}

.yui-skin-sam .TextboxList .TextboxListInputSingle {
  position: static;
  /*width:10em;*/
}

/*.yui-skin-sam .TextboxList .TextboxListAutoComplete { width:10em; }*/

.yui-skin-sam .TextboxList .TextboxListAutoComplete .yui-ac-content {
  overflow-y: scroll;
  height: 100px;
  text-align: left;
  background-color: #52acff;
}

.yui-skin-sam .yui-dt-editor .TextboxList .TextboxListAutoComplete {
  width: 10em;
}

.yui-skin-sam .yui-dt-editor .TextboxList .TextboxListAutoComplete .yui-ac-content {
  text-align: left;
}

.TextboxListIcon {
  cursor: default;
  height: 15px;
  width: 17px;
  right: 1px;
  top: 1px;
  #top: 2px;
  position: absolute;
  background: transparent url("//d16cbq0l6kkf21.cloudfront.net/assets/ui/dropdown.gif") repeat scroll 0 0;
  z-index: 2;
  display: -moz-inline-stack;
  /*mozilla 2.0*/
  display: inline-block;
  /*mozilla 3.0, ie 8*/
  zoom: 1;
  /*force ie layout so we can use the display:inline below*/
  *display: inline;
  /*ie hack to make it think this is an inline-block*/
}

.TextboxListColumn {
  display: -moz-inline-stack;
  /*mozilla 2.0*/
  display: inline-block;
  /*mozilla 3.0, ie 8*/
  zoom: 1;
  /*force ie layout so we can use the display:inline below*/
  *display: inline;
  /*ie hack to make it think this is an inline-block*/
  overflow: hidden;
}

.homeworld-highlight {
  color: yellow;
}

/* Semantic UI */

/* Stuff related to the Chat bar */

/* The fact that we're using US1 *might* be bad here. */

/* Semantic overrides everything in this file and manages to not make a mess. Except for this... */

body {
  color: #ffffff;
}

/* Don't make the color of text input white, though. */

input,
textarea,
select,
option {
  color: black;
  font-weight: normal;
}

/* Fix incoming ships position. */

#notify_c {
  position: absolute;
  right: 15px;
  top: 100px;
  z-index: 2000;
}

/* Fix labels on react-tabs tabs. */

.react-tabs [role=tab][aria-selected=true] {
  color: black;
}

/* Fix tooltips hiding behind things. */

.__react_component_tooltip {
  z-index: 2147483647 !important;
}

/* Make sure the old loading indicator is hidden */

#pulsing {
  display: none;
}

/* Planet list items should have pointy cursors. ;) */

a.item {
  cursor: pointer;
}

/*
 * vim: noet:ts=4:sw=4
 */